
h3
{
    color:#d74747;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;

}

#formulario {
  width: 400px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Estilos para las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos para los inputs y textarea */
input[type="text"],
input[type="file"],
textarea,
select,
input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilos para el botón de enviar */
#enviar {
  background-color: #d74747;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#enviar:hover {
  background-color: #d68585;
}

/* Estilos específicos para el área de texto */
textarea {
  resize: vertical;
}

/* Estilos específicos para el área de selección */
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilos para el título */
.titulito {
  font-weight: bold;
}
